body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

/* ----------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0.3rem 2.5rem;
  align-items: center;
  border-bottom: 1px solid black;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: InterRegular;
}

.menu ul li a {
  color: black;
}

.profile {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid #6f6f6f;
  border-radius: 50%;
  padding: 0.3rem;
}

.homePage {
  /* background-color: red; */
  height: 87.5vh;
  position: relative;
  overflow: hidden;
  color: white;
}

.homePage video {
  filter: brightness(0.14);
  position: absolute;
  top: -60rem;
  z-index: 1;
}

.homePage .text {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  transform: translate(15rem, 10rem);
  gap: 1.5rem;
  letter-spacing: 0.1rem;
}

.homePage .text h1:first-child {
  font-size: 6rem;
  font-family: CaveatMedium;
}

.homePage .text h1:last-child {
  font-size: 3rem;
  font-family: InterRegular;
}

span {
  color: var(--greenColour);
}

.buttons {
  position: relative;
  z-index: 4;
  transform: translate(15rem, 17rem);
  display: flex;
  gap: 2.5rem;
  /* justify-content: center; */
  align-items: center;
}

.buttons .makeInv,
.buttons .manageInv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: InterMedium;
  font-weight: 500;
  gap: 1.2rem;
  border: 1px solid black;
  padding: 1rem;
  color: black;
  background-color: var(--greenColour);
  border-radius: 0.4375rem;
  font-size: 1.2rem;
}

.about {
  height: 60vh;
  display: flex;
  gap: 3.5rem;
  padding: 2.2rem;
  margin: 6rem 2rem;
}

.about .leftPortion {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: baseline;
}

.about .leftPortion .heading h3 {
  font-family: InterMedium;
  font-size: 1.3rem;
  color: var(--greenColour);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.about .leftPortion .heading {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.about .leftPortion .heading h2 {
  font-family: "CaveatMedium";
  font-size: 2.3rem;
  position: relative;
  letter-spacing: 0.05rem;
  left: -3px;
}

.about .leftPortion .para {
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-family: "InterRegular";
  font-size: 1.2rem;
  word-spacing: 0.1rem;
  margin-top: 1.3rem;
}

.about .rightPortion {
  flex-basis: 50%;
}

.about .rightPortion img {
  width: 40vw;
  height: 55vh;
}

.showError {
  position: absolute;
  top: 29%;
  left: 39%;
  border: 1px solid #3a3a3a;
  background-color: #ffffff;
  font-family: InterMedium;
  font-size: 1.2rem;
  color: black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
  animation: fadeSlideIn 0.5s ease-out;
  border-radius: 1rem;
  transition: all 0.5s;
  z-index: 66;
  height: 27vh;
}

.showError .ib{
  font-size: 2.5rem;
}

.showError h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.showError h3 {
  font-weight: 400;
  font-size: 1rem;
  font-family: "InterLight";
  color: grey;
  position: relative;
  top: -0.5rem;
}

.showError #ok {
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  font-family: "InterMedium";
  font-weight: 400;
  background: #32cd32;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 1s;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    top: 0%;
  }
  to {
    opacity: 1;
    top: 29%;
  }
}

.profilei {
  height: 30%;
  width: 20%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 5;
  right: 2.3rem;
  top: 3.8rem;
  border-radius: 0rem 1rem 0rem 0rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 1.1rem;
  align-items: baseline;
  border: 2px solid black;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.3s ease;
}

.profilei .info {
  font-family: "InterRegular";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr{
  width: 80vw;
}

.profilei .info h3:first-child {
  font-size: 1.5rem;
  color: black;
}

.profilei .info h3:last-child {
  color: grey;
  font-size: 1.1rem;
  font-weight: 400;
}

.profilei h2 {
  font-family: InterMedium;
}

.profilei a {
  font-family: "InterMedium";
  border: 1px solid black;
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--greenColour);
  border-radius: 0.5rem;
}
.showError #ok:hover {
  background: #1f851f;
}
