.main {
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  margin: 1rem 4rem;
  gap: 3rem;
}

.main .title {
  text-align: center;
  padding: 1rem 0;
  font-family: CaveatMedium;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  display: flex;
  flex-direction: column;
}

.main .title img {
  height: 6vh;
  width: 28%;
  margin: 0 auto;
}

#formm {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.main #formm .WarehouseDimensions,
.main #formm .RacksDetails,
.main #formm .BinsDetails {
  display: flex;
  flex-direction: column;
  font-family: InterBold;
  gap: 1.5rem;
}

.main #formm .WarehouseDimensions .mainForm,
.main #formm .RacksDetails .mainForm,
.main #formm .BinsDetails .mainForm {
  display: flex;
  gap: 11.3rem;
}

.main #formm .WarehouseDimensions .mainForm .same,
.main #formm .RacksDetails .mainForm .same,
.main #formm .BinsDetails .mainForm .same {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  align-items: baseline;
  font-family: InterLight;
  font-weight: 600;
}

input {
  border: none;
  border-bottom: 2px solid black;
  background-color: var(--bgColor);
  font-size: 1rem;
  font-family: InterBold;
  padding: 0 0 0.3rem 0.3rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.Buttons {
  display: flex;
  gap: 2.2rem;
}

.Buttons button {
  padding: 0.5rem 1.3rem;
  font-family: InterMedium;
  font-size: 1rem;
  border-radius: 0.4375rem;
  border: 1px solid black;
  cursor: pointer;
}

.Buttons button:first-child {
  background-color: var(--greenColour);
}

.Buttons button:last-child {
  border: 2px solid var(--greenColour);
  background-color: var(--bgColor);
}

.Note {
  font-family: "InterMedium";
  margin-top: 2rem;
  color: red;
  font-size: 1.3rem;
}
