.main {
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  overflow: hidden;
}

.main .title {
  text-align: center;
  padding: 1rem 0;
  font-family: CaveatMedium;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  display: flex;
  flex-direction: column;
}

.main .title img {
  height: 5.3vh;
  width: 20%;
  margin: 0 auto;
}

.main .content p {
  color: #404040;
  text-align: center;
  font-family: InterMedium;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 152%; /* 1.9rem */
  letter-spacing: 0.05rem;
}

.main .content p span {
  color: black;
  font-weight: 700;
}

.main .buttons {
  display: flex;
  gap: 2.2rem;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 10rem;
}

.main .buttons button {
  padding: 6rem;
  border-radius: 1.0652rem;
  cursor: pointer;
  font-family: InterMedium;
  font-size: 1.3rem;
  position: relative;
  z-index: 1;
  color: white;
  transition: all 0.5s;
}

.main .buttons button:hover {
  transform: scale(1.2);
}

.main .buttons #AddProduct::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(/images/image-1.png);
  top: 0;
  left: 0;
  border-radius: 1.0652rem;
  filter: brightness(0.2);
  z-index: -1;
}

.main .buttons #RetrieveProduct::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(/images/image2.png);
  top: 0;
  left: 0;
  border-radius: 1.0652rem;
  filter: brightness(0.2);
  border: 1px solid black;
  z-index: -1;
}

.main .AddLists {
  display: flex;
  justify-content: center;
}

.main .AddLists a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  background-color: var(--blueColour);
  border-radius: 0.6252rem;
  margin-top: 3rem;
  font-family: "InterMedium";
  font-size: 1.2rem;
}

/* .show {
  z-index: 99;
  height: 68vh;
  position: absolute;

  width: 63vw;
  top: 20%;
  left: 21%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 3rem;
  box-shadow: 2px 2px 41rem 17rem var(--bgColor),
    -2px -2px 41rem 17rem var(--bgColor);
} */

.popupMenu,
.RetrieveItems {
  z-index: 0;
  height: 68vh;
  position: absolute;
  width: 63vw;
  top: 20%;
  left: 21%;
  border: 3px solid black;
  background-color: var(--bgColor);
  display: none;
  /* display: flex; */
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 3rem;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease;
  box-shadow: 2px 2px 10rem 17rem var(--bgColor),
    -2px -2px 10rem 17rem var(--bgColor);
}

.popupMenu.show,
.RetrieveItems.show {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.AddItems .leftSSection {
  height: 100%;
}

.RetrieveItems form input {
  height: 9vh;
  font-size: 2rem;
  padding-left: 1rem;
  width: 100%;
  border: 2px solid grey;
}

.RetrieveItems #butto {
  width: 14%;
  padding: 0.5rem;
  background-color: var(--blueColour);
  border: 1px solid black;
  color: white;
  font-family: "InterMedium";
  font-size: 1rem;
  cursor: pointer;
}

.popupMenu .titlee {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.popupMenu .titlee img {
  height: 3.5vh;
  width: 24%;
  margin: 0 auto;
}

.popupMenu .titlee h1 {
  font-size: 3.5rem;
  font-family: CaveatMedium;
  text-align: center;
}

.popupMenu .leftSSection .form {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  flex-direction: column;
  align-items: baseline;
}

.popupMenu .leftSSection .form .inputs {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.3rem;
  font-family: InterLight;
  gap: 0.5rem;
  font-weight: 600;
}

.popupMenu .leftSSection .form .inputs input {
  border: none;
  font-size: 1.3rem;
  padding-left: 1rem;
  border-bottom: 1px solid black;
  background-color: var(--bgColor);
}

.popupMenu .leftSSection .form .inputs input:focus {
  outline: none;
}

#priority {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
}
.popupMenu button {
  width: 34%;
  padding: 0.5rem;
  background-color: var(--greenColour);
  border: 1px solid black;
  color: black;
  font-family: "InterMedium";
  font-size: 1rem;
  cursor: pointer;
}

.AddItems {
  display: flex;
  flex-direction: row;
}

.rightSection {
  border: 2px solid #3ac569;
  font-family: InterMedium;
  border-radius: 1rem;
  height: 51vh;
  width: 41vh;
  /* background: red; */
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  top: 6rem;
  left: 6rem;
  gap: 1.3rem;
  overflow: auto;
}

.rightSection .submit-btn {
  background-color: #3ac569;
  margin-top: 15px;
  padding: 10px 16px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 1.3rem;
}

.product-card {
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-left: 5px solid #3ac569;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.ProductFound {
  position: absolute;
  top: 50%;
  left: 28%;
  z-index: 55;
  background-color: red;
  padding: 5rem;
  border-radius: 0.5rem;
  display: none;
}


#aa {
  width: 50vw;
  display: flex;
  padding: 1rem;
  height: 20vh;
  box-shadow: 0 0 0 0;
  background-color: #f0f0f0;
  font-family: "InterMedium";
}


#aa span{
  color: var(--blueColour);
}