.main {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.main .colourdiv {
  height: 93vh;
  flex-basis: 40%;
  margin: 2rem;
  border-radius: 2.75rem;
  background: linear-gradient(9deg, #b0ff85 -9.42%, #32cd32 72.79%);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
}

.main .colourdiv .title {
  font-family: CaveatMedium;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-top: 3rem;
  color: black;
  font-size: 1.5rem;
  width: 74%;
}

span {
  color: var(--greenColour);
}

#end {
  text-align: end;
}

.main .colourdiv .semititle {
  font-size: 1.5rem;
  padding-top: 6.5rem;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
  font-family: CaveatMedium;
}

.textdiv {
  display: flex;
  flex-direction: column;
  height: 89vh;
  gap: 5.2rem;
  padding-left: 4.2rem;
  align-items: flex-start;
}

.textdiv .logo img {
  height: 114%;
  width: 108%;
}
.textdiv .form form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.textdiv .form form .inputForm {
  border: 1px solid black;
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  width: 200%;
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #fff;
}

.textdiv .form form input {
  border: none;
  background-color: transparent;
  padding: 1rem;
  width: 90%;
  font-size: 1.2rem;
}



.textdiv .form form input:focus {
  outline: none;
}

.textdiv .form form .s {
  text-decoration: none;
  padding: 1rem;
  width: 200%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.625rem;
  background: #2c2c2c;
  color: white;
  font-family: InterLight;
  font-weight: 500;
  cursor: pointer;
}

.forPas {
  right: -20rem;
  position: absolute;
  bottom: 6rem;
  text-decoration: none;
  color: red;
  font-family: "InterMedium";
}

hr {
  position: relative;
  width: 121%;
  top: -2rem;
  /* height: 2vh; */
}

.extra {
  letter-spacing: 0.03rem;
  font-family: "InterMedium";
  position: relative;
  top: -5rem;
  margin-left: 9rem;
}

.extra a {
  text-decoration: none;
  color: var(--blueColour);
}

.showError {
  position: absolute;
  top: 29%;
  left: 29%;
  border: 1px solid #3a3a3a;
  background-color: #ffffff;
  font-family:InterMedium ;
  font-size: 1.2rem;
  color: black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
  animation: fadeSlideIn 0.5s ease-out;
  border-radius: 1rem;
  transition: all 0.5s;
}


.showError h1{
  font-size: 1.8rem;
  font-weight: 500;
}

.showError h3{
  font-weight: 400;
  font-size: 1rem;
  font-family: 'InterLight';
  color: grey;
  position: relative;
  top: -0.5rem;
}

.showError #ok, .showError #ok2{
  padding: 0.5rem 1rem;
    border: 1px solid grey;
    font-family: 'InterMedium';
    font-weight: 400;
    background: #32cd32;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 1s;
}




@keyframes fadeSlideIn {
  from {
    opacity: 0;
    top: 0%;
    
  }
  to {
    opacity: 1;
    top: 29%;
  }
}


.showError #ok:hover{
  background: #1f851f;
}